<?xml version="1.0"?>

<launch>
    <master auto="start"/>

    <!-- TF setting -->
    <include file="$(find hypha_racecar)/launch/includes/hypha_car_tf.launch.xml" />

    <!-- SENSOR DEVICE -->
    <!-- RPLidar -->
    <include file="$(find hypha_racecar)/launch/includes/rplidar.launch.xml" />
    <!-- Arduino -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
        <param name="port" value="/dev/uno"/>
        <param name="baud" value="57600"/>
    </node>

    <!-- MRPT ICP -->
    <!--PARAMETERS-->
    <param name="ini_filename" value="$(find mrpt_icp_slam_2d)/tutorial/icp_slam_demo.ini"/>
    <param name="odom_frame_id" value="/odom"/>
    <param name="global_frame_id" value="/map"/>
    <param name="base_frame_id" value="/laser"/>
    <param name="sensor_source" value="/scan"/>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find mrpt_icp_slam_2d)/config/rosconsole.config"/>
    <node pkg="tf" type="static_transform_publisher" name="map_odom" args="0 0 0 0 0 0 /map /odom 10"/>
    <!--SLAM RUN-->
    <node pkg="mrpt_icp_slam_2d" type="mrpt_icp_slam_2d" name="mrpt_icp_slam_2d" output="screen"></node>

</launch>
