<?xml version="1.0"?>

<launch>
    <arg name="use_rviz" default="false" />

    <!-- TF setting -->
    <include file="$(find hypha_racecar)/launch/includes/hypha_car_tf.launch.xml" />

    <!-- RPLidar -->
    <include file="$(find hypha_racecar)/launch/includes/rplidar.launch.xml" />
    <!-- IMU -->
    <include file="$(find hypha_racecar)/launch/includes/gy85.launch.xml" />

    <!--rf2o_Laser_Odometry-->
    <include file="$(find hypha_racecar)/launch/includes/hypha_rf2o.launch.xml" />
    <!-- Robot_Localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find hypha_racecar)/param/hypha_ekf_params.yaml" />
    </node>
    
    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hypha_racecar)/rviz_cfg/hypha_laser_odom.rviz" if="$(arg use_rviz)"/>

</launch>

