<?xml version="1.0"?>

<launch>
  <master auto="start"/>

  <node pkg="rosbag" type="record" name="recordIMUandLaserScan" output="screen" args="record -O /media/odroid/7096-CA4C/LaserAndIMU.bag -o /imu /scan"/>

  <!-- Run the map server -->
  <!--node name="map_server" pkg="map_server" type="map_server" args="/home/odroid/catkin_ws/src/navigation2d_example/launch/basement.yaml"/-->

  <!--node name="map_server" pkg="map_server" type="map_server" args="/home/odroid/catkin_ws/src/navigation2d_example/launch/5930.yaml"/-->

 <node pkg="tf" type="static_transform_publisher" name="base_footprint2base_link" args="0 0 0.06 0 0 0 /base_footprint /base_link 50"/>
 <node pkg="tf" type="static_transform_publisher" name="base_link2laser_link" args="0 0 0.06 0 0 0 /base_link /laser 50"/>
<node pkg="tf" type="static_transform_publisher" name="base_link2imu" args="0.12 0.06 -0.0325 0 0 0 /base_link /base_imu_link 50"/>

	<!--PLAY BAG FILE-->
	<!--param name="/use_sim_time" value="true" />
	<include file="/home/odroid/catkin_ws/src/navigation2d_example/launch/myLaserBag.launch" /-->	

	<!-- SENSOR DEVICE -->
		<!-- RPLidar -->
		<include file="$(find rplidar_ros)/launch/rplidar.launch" />
		<!-- IMU -->
		<include file="$(find razor_imu_9dof)/launch/razor-pub.launch" />

	<!-- Odometry -->
		<!--rf2o_Laser_Odometry-->
		<!--include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry_david.launch" /-->

		<!-- Robot_Localization -->
		<!--node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    	<rosparam command="load" file="$(find navigation2d_example)/param/hao.yaml" />
		</node-->

	<!-- Localization -->
	  <!-- AMCL -->
  	<!--include file="$(find navigation2d_example)/param/amcl_diff_david.launch" /-->

	  <!-- JOYSTICK -->
  	<include file="$(find car_joy)/launch/car_joy.launch" />


  <!--include file="$(find navigation2d_example)/launch/car_rplidar_david.launch"/-->
  <!--node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find navigation2d_example)/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find navigation2d_example)/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find navigation2d_example)/param/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find navigation2d_example)/param/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find navigation2d_example)/param/base_local_planner_params.yaml" command="load"/>
    <rosparam file="$(find navigation2d_example)/param/move_base_params.yaml" command="load"/>
  </node-->

</launch>

