<?xml version="1.0"?>

<launch>
    <!-- arguments -->
    <arg name="use_rviz" default="false" />
    <!-- for amcl -->    
    <arg name="init_x" default="0.0" />
    <arg name="init_y" default="0.0" />
    <arg name="init_a" default="0.0" />

    



    <!-- Odom EKF -->
    <include file="$(find hypha_racecar)/launch/includes/laser_odom_ekf.launch.xml" />

    <!-- Localization -->
    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find hypha_racecar)/map/test/map.yaml"/>
    <!-- AMCL -->
    <include file="$(find hypha_racecar)/launch/includes/amcl.launch.xml">
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_a" value="$(arg init_a)"/>
    </include>

    <!-- Navstack -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base">
        <!-- local planner -->
        <!--        
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>  
        <rosparam file="$(find hypha_racecar)/param/dwa_local_planner_params.yaml" command="load"/>
        -->
        <!-- costmap layers -->    
        <rosparam file="$(find hypha_racecar)/launch/param/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find hypha_racecar)/launch/param/global_costmap_params.yaml" command="load"/> 
        <!-- move_base params -->
        <rosparam file="$(find hypha_racecar)/launch/param/move_base_params.yaml" command="load"/>
        <remap from="/odom" to="/odometry/filtered"/>

	<rosparam file="$(find hypha_racecar)/launch/param/teb_local_planner_params.yaml" command="load" />
	<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    	<param name="controller_frequency" value="20.0" />
	<param name="controller_patience" value="15.0" />
    </node>

   

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hypha_racecar)/rviz_cfg/hypha_nav.rviz" if="$(arg use_rviz)" />
</launch>
