<?xml version="1.0"?>

<launch>
    <arg name="use_odom" default="false" />
    <arg name="use_rviz" default="true" />

    <!--PLAY BAG FILE-->
    <param name="use_sim_time" value="true" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(find hypha_racecar)/bags/imu_laser_tf_001.bag --clock"/>

    <group if="$(arg use_odom)">
        <!-- Robot_Localization -->
        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
            <rosparam command="load" file="$(find hypha_racecar)/param/hypha_ekf_params_bag.yaml" />
        </node>
    </group>

    <!-- MRPT ICP -->
    <!--PARAMETERS-->
    <param name="ini_filename" value="$(find mrpt_icp_slam_2d)/tutorial/icp_slam_demo.ini"/>
    <param name="odom_frame_id" value="/odom_null" unless="$(arg use_odom)"/>
    <param name="odom_frame_id" value="/odom" if="$(arg use_odom)"/>
    <param name="base_frame_id" value="/laser" unless="$(arg use_odom)"/>
    <param name="base_frame_id" value="/base_footprint" if="$(arg use_odom)"/>
    <param name="global_frame_id" value="/map"/>
    <param name="sensor_source" value="/scan"/>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find mrpt_icp_slam_2d)/config/rosconsole.config"/>
    <node pkg="tf" type="static_transform_publisher" name="map_odom" args="0 0 0 0 0 0 /map /odom 10"/>
    <!--SLAM RUN-->
    <node pkg="mrpt_icp_slam_2d" type="mrpt_icp_slam_2d" name="mrpt_icp_slam_2d" output="screen"></node>

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hypha_racecar)/rviz_cfg/hypha_gmapping.rviz" if="$(arg use_rviz)"/>
</launch>
