<?xml version="1.0"?>

<launch>
    <arg name="use_rf2o"   default="false" />
    <arg name="use_ekf"    default="false" />
    <arg name="bag_record" default="false" />

    <node pkg="rosbag" type="record" name="recordIMUandLaserScan" output="screen" args="record -O $(find hypha_racecar)/bags/imu_laser_tf_001.bag -a" if="$(arg bag_record)"/>

    <!-- JOYSTICK -->
    <!-- include file="$(find car_joy)/launch/car_joy.launch" / -->

    <!-- TF setting -->
    <include file="$(find hypha_racecar)/launch/includes/hypha_car_tf.launch.xml" />

    <!-- SENSOR DEVICE -->
    <!-- RPLidar -->
    <include file="$(find hypha_racecar)/launch/includes/rplidar.launch.xml" />
    <!-- IMU -->
    <include file="$(find hypha_racecar)/launch/includes/gy85.launch.xml" />
    <!-- Arduino -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
        <param name="port" value="/dev/uno"/>
        <param name="baud" value="57600"/>
    </node>

    <!-- Odometry -->
    <!--rf2o_Laser_Odometry-->
    <include file="$(find hypha_racecar)/launch/includes/hypha_rf2o.launch.xml" if="$(arg use_rf2o)" />
    <!-- Robot_Localization -->
    <group if="$(arg use_ekf)">
        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
            <rosparam command="load" file="$(find hypha_racecar)/param/hypha_ekf_params.yaml" />
        </node>
    </group>

</launch>
